
#top-contacts h2{
    font-size: 5vw;
    letter-spacing: 2px
}
.contact-card{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px rgb(215 180 172);
}
input, textarea{
    border: none!important;
    border-radius: 8px;
}
.vertical-line{
    display: inline-block;
    border-left: 2px solid  rgb(153 101 115);
    margin-left: 12px;
    height: 80%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    nav{
        background: linear-gradient(to right, rgba(215, 180, 172,1) , rgba(215, 180, 172,0.9) , rgba(215, 180, 172,0))!important;
        z-index: 10;
    }
}
@media only screen and (max-width: 599px) {

    .vertical-line{
        margin-left: -12px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 900px) {
    #contact-form{
        min-height: 90vh;
    }
}
